export EDITOR=nvim

export PATH=$HOME/.asdf/shims:$PATH
export PATH=$HOME/.cargo/bin:$PATH
export GOPATH="$(go env GOPATH)"
export PATH=$GOPATH/bin:$PATH
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.opencode/bin:$PATH
export PATH=$HOME/Projects/wingman/clients/tui/wingcode/dist:$PATH
export PATH=$HOME/.wingman/bin:$PATH
export PATH=$HOME/.bun/bin:$PATH
export PATH=$HOME/AppImages:$PATH

alias ff=fastfetch
alias lg=lazygit
alias ld=lazydocker
alias oc=opencode

[ -f ~/.secrets ] && source ~/.secrets
[[ -f "$HOME/.zshrc.local" ]] && source "$HOME/.zshrc.local"

HISTFILE=~/.zsh_history
HISTSIZE=20000
SAVEHIST=10000
setopt SHARE_HISTORY HIST_IGNORE_DUPS HIST_IGNORE_SPACE

bindkey -v

autoload -Uz compinit
compinit

{{ if eq .chezmoi.os "darwin" }}
source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
{{ else }}
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
{{ end }}

eval "$(starship init zsh)"
