[window]
opacity = 1

[font]
size = {{ if eq .chezmoi.os "darwin"}}18{{ else }}12{{ end }}

[font.normal]
family = "FiraCode Nerd Font Mono"

[[keyboard.bindings]]
chars = "\u001BF"
key = "Right"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001BB"
key = "Left"
mods = "Alt"

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"
